<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Taskly</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% block custom_style %}
    {% endblock %}
</head>
<body style="background-color: #e0e0e0;">
    <nav class="navbar navbar-expand bg-info px-3">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Taskly</a>
            {% if user.is_authenticated %}
            <div class="d-flex align-items-center gap-3">
                <span class="navbar-text">My tasks</span>
                <a class=nav-link" href="{% url 'task_create' %}">New task</a>
            </div>
            <div class="d-flex gap-2 ms-aouto">
                <span class="fs-6">{{user}}</span>
                <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger btn-sm">Logout</button>
                </form>
            </div>
            {% endif %}
        </div>
    </nav>
    <div class="toast-container position-fixed top-0 end-0 p-3">
        {% for message in messages %}
        <div class="toast align-items-center text-bg-success border-0" role="alert">
            <div class="d-flex">
                <div class="toast-body">
                    {{message}}
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast"></button>
            </div>
        </div>
        {% endfor %}
    </div>
    <div class="container mt-4">
        {% block content%}
        {% endblock %}
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    <script>
        const tooltipTriggerList = document.querySelectorAll('[data-bs-toggle="tooltip"]');
        [...tooltipTriggerList].map(el => new bootstrap.Tooltip(el));

        const toastElList = document.querySelectorAll('.toast')
        const toastList = [...toastElList].map(el => new bootstrap.Toast(el))
        toastList.forEach(toast => toast.show())
    </script>
</body>
</html>